 * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family:'Times New Roman', Times, serif;
  background-color: #fbfbfb;
  zoom: 1.5;
} 

footer{
  background-color: #fbfbfb;
}

.active {
  color: 'red';
  font-weight: 700;
}

.custom-loader {
  width:50px;
  height:50px;
  --c:radial-gradient(farthest-side,#766DF4 92%,#0000);
  background: 
    var(--c) 50% 0,
    var(--c) 50% 100%,
    var(--c) 100% 50%,
    var(--c) 0    50%;
  background-size:12px 12px;
  background-repeat:no-repeat;
  animation:s7 1s infinite;
}
@keyframes s7 {to{transform: rotate(.5turn)}}